[Desktop Entry]
Name=ZarisWM
Comment=A tiling window manager written in modern C++
Exec=zaris
TryExec=zaris
Type=Application
X-LightDM-DesktopName=ZarisWM
DesktopNames=ZarisWM
Keywords=tiling;wm;window;manager;Zaris;